body {
  background-color: #29292e;
  padding: 80px;
}

#page {
  background-color: white;
  padding: 88px 88px 0px 88px; 
}

img {
  border-radius: 28px; /* Adicionar o arredondamento da borda */
  width: 100%; /* imagem ocupa 100% do tamanho disponível pra ela */
  margin: 20px;
}

h2 {
  color: #1b1b1b;
  font-size: 36px;
  margin: 0px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

h3 {
  color: #1b1b1b;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #333333;
}

li {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 12px;
}

ol {
    list-style-position: inside; /* Faz a numeração alinhar com o conteúdo */
    padding-left: 0;             /* Remove recuos automáticos do navegador */
}

li h3 {
    display: inline; /* Faz o título do H3 grudar ao lado do número "1." */
}

.bom-para {
  font-weight: bold;
  color: #333333;
  margin-top: 8px;
  margin-bottom: 0px;
}

ul {
  list-style-type: disc;
}

.historia {
  color: #0c51a7;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 48px;
}

#casais {
  color: #591b98;
  font-weight: bold;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
    margin: 0px;
}

#familias {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  color: #e5245e;
  margin-bottom: 0px;
  margin-top: 0px;
}

#orçamento {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  color: #e95e10;
}

li::marker {
  font-size: 24px;
  font-weight: 700;
  color: #1b1b1b;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#headline {
  color: #e1624f;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

#headline-history {
  color: #e1624f;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  padding: 2px;
}

header {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  p,
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#description {
  color: #333333;
  font-size: 16px;
  text-align: center;
}

hr {
  color: #d9d9d9;
  margin-top: 40px;
  margin-bottom: 64px;
}

#hr2{
  margin: 40px
}

#description-end {
  color: #333333;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

main div img {
  height: 375px;
  object-fit: cover; /* Ajusta a proporção da imagem*/
  margin-top: 44px;
}

footer {
  color: #333333;
  text-align: center;
  margin: 0px;
  padding-top: 65px;
  padding-bottom: 48px;
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

footer img {
  vertical-align: middle;
  width: 25px; /* largura*/
  height: auto; /* altura*/
  border-radius: 0;
  margin: 2px;
  
}
